.snakemake/
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.vcf
*.vcf.gz
*.vcf.gz.csi
*.vcf..gz.tbi
*.gff3
*.gff3.gz
results*/
logs*/
sra/
resources/
*.bak
wip/
.ipynb*
__pycache__
.cache
.condarc
.conda
*.bed.gz
*.sif
.java
.test
